* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Sofia+Sans+Condensed:wght@300&display=swap');
@media only screen and(max) {}

body {
    font-family: sans-serif;
    font-family: 'Aleo', serif;
}


/* ===============================Navbar Css ========================================*/


/*  */


/* ===============================Navbar Css ========================================*/


/* navbar ssssssssssssssssssssst */

#navba-id-div {
    background-color: #000000;
}

#navba-id-div .nav-bar-div1 {
    display: flex;
}

.nav-bar-div1 {
    justify-content: space-between;
}

.navbar-ul-li ul {
    display: flex;
    padding-top: 10px;
}

.navbar-ul-li ul li {
    margin-left: 20px;
    list-style-type: none;
    color: #00ffd5;
    font-size: 15px;
}

.navbar-ul-li ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}


/* Li hover effect */

.navbar-ul-li ul li a:hover {
    border-bottom: 2px solid green;
    padding-bottom: 5px;
    transition: 0.5s;
}


/* ===============================Navbar Css end ========================================*/


/*  */


/* ===============================Navbar Css end========================================*/


/* ===============================Header start ========================================*/


/*  */


/* =============================== Header start ========================================*/


/* ================Notice ==================================== */

.notice-marquee marquee:hover {
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

@-moz-keyframes notice-marquee {
    0% {
        -moz-transform: translateX(100%);
    }

    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes notice-marquee {
    0% {
        -webkit-transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes notice-marquee {
    0% {
        -moz-transform: translateX(100%);
        /* Firefox bug fix */
        -webkit-transform: translateX(100%);
        /* Firefox bug fix */
        transform: translateX(100%);
    }

    100% {
        -moz-transform: translateX(-100%);
        /* Firefox bug fix */
        -webkit-transform: translateX(-100%);
        /* Firefox bug fix */
        transform: translateX(-100%);
    }
}

.latest-notice {
    height: 40px;
    border: 3px solid green;
    border-radius: 3px;
}

.latest-notice1-inline-div {
    display: flex;
}

.notice-name {
    height: 35px;
    width: 140px;
    background-color: #3e8e41;
}

.notice-name p {
    font-weight: 700;
    text-align: center;
    padding: 5px;
    color: #f1f1f1;
}

.notice-marquee {
    height: 35px;
    width: 500px;
}

.notice-marquee marquee {
    font-weight: 700;
}

.home-page-div {
    display: flex;
}

.home-page-div1 {
    height: 430px;
    width: 700px;
    border: 1px solid rgb(194, 166, 166);
}

.home-page-div2 {
    height: 300px;
    width: 500px;
    display: inline;
}


/* ============================main div responsive================ */

.home-page-main-img img {
    padding-left: 0px;
    margin-left: 0px;
}

#home-page-main-div {
    background-color: #000515;
    border-radius: 3px;
}

#my-name-div {
    padding-left: 60px;
}

#my-name-div h1 {
    color: #ffffff;
    font-size: 37px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#my-name-div h3 {
    color: #fff;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 80px;
    margin-bottom: 20px;
}

#my-name-div p {
    color: #fff;
    font-size: 12px;
}

#my-name-div h4 {
    color: #fff;
    font-size: 15px;
    font-family: sans-serif;
}

#my-name-div h5 {
    color: #fff;
    font-size: 15px;
    font-family: sans-serif;
    margin-top: 30px;
    margin-bottom: 20px;
}

#my-name-div hr {
    color: #fef8e5;
    width: 450px;
    margin-top: 0px;
}

#my-name-div .hire-me-div button {
    color: black;
    background-color: #007AFF;
    /* background-color: #d82168;   */

    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
}

#hire-me-btn {
    margin-left: 50px;
}

#my-name-div .hire-me-div img {
    width: 100px;
    margin: 0px;
    padding: 0px;
}


/* ==========================Hire me Button 
Animation========================================================================================================================================================================= */

.glow-on-hover {
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    color: #5af3d9;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

#my-name-div .hire-me-div button {
    color: #00ffd5;
}

.glow-on-hover:active {
    color: #ffecec;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}


/* ==============================Hire me Button 
Animation END==================================================================================================================================================================================== */

#home-page-main-div2 {
    background-color: #02132b;
}

#my-name-div2 {
    width: 550px;
    position: relative;
}

.box {
    width: 100%;
    height: 100%;
    position: absolute;
    padding-left: 70px;
    margin-top: 0px;
}

#my-name-div2 .star-pic img {
    width: 50px;
    position: relative;
    margin: 0px;
    padding-top: 40px;
    padding-bottom: 0px;
}

#home-page-main-div #my-name-div2 .star-pic img:hover {
    transform: scale(1.5) rotate(360deg);
    transition: 1s ease-in-out;
}

.overlay {
    margin-top: 320px;
    padding-left: 70px;
}

#my-name-div2 .overlay img {
    width: 470px;
    margin-left: 0px;
    padding-left: 150px;
}


/* =====================Star animation start=========================================================================================================================== */

#my-name-div2 .star-pic {
    position: absolute;
    width: 100px;
    height: 100px;
    transition: all 0.2s ease-in-out;
}

#my-name-div2 .star-pic:hover {
    transform: scale(1.2, 1.2);
    transition: all 0.2s ease-in-out;
}

.box:hover::after {
    opacity: 1;
}


/* =============================Star animation End================================================================================================= */

.sort-introduction {
    height: 300px;
}

.short-introduction {
    background-color: #12B2A7;
    padding-bottom: 20px;
}

.short-introduction h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}

.short-introduction2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 30px;
}

.sort-intro-div1 {
    width: 270px;
    height: 100px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
}

.sort-intro-div1:hover {
    box-shadow: 0 0 20px rgba(2, 3, 15, 0.2);
}

.sort-intro-div2 {
    width: 270px;
    height: 100px;
    border: none;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
}

.sort-intro-div2:hover {
    box-shadow: 0 0 20px rgba(2, 3, 15, 0.2);
}

.sort-intro-div3 {
    width: 270px;
    height: 100px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
}

.sort-intro-div4 {
    width: 270px;
    height: 100px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
}

.sort-intro-div4:hover {
    box-shadow: 0 0 20px rgba(2, 3, 15, 0.2);
}

.institution-img img {
    margin-top: 10px;
    width: 80px;
}

.institution-name {
    margin-left: 10px;
}

.institution-name h4 {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 10px;
}

.institution-name h5 {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    line-height: 10px;
}

.institution-name span {
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    line-height: 0.5px;
}

.institution-name h6 {
    font-size: 11px;
}

.sort-intro-div2 {
    width: 250px;
    height: 100px;
    background-color: white;
}

.sort-intro-div3 {
    width: 250px;
    height: 100px;
    background-color: white;
}

.sort-intro-div4 {
    width: 250px;
    height: 100px;
    background-color: white;
}


/*-------------------------------------About Section Start --------------------------------*/


/*-------------------------------------About Section Start --------------------------------*/

.about-me-main-div .description-detils {
    width: 330px;
    height: 180px;
    background-color: #13111c;
    border-radius: 6px;
    box-shadow: 10px 10px 20px rgba(66, 63, 255, 0.2);
    border: 1px solid rgb(93, 93, 235);
}

.description-detils .description-detils-div {
    padding: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    background-color: #13111c;
    color: #00ffd5;
    box-shadow: 5px solid rgb(69, 69, 252);
}

.description-detils-div button {
    font-size: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    border-radius: 4px;
    background-color: #051d40;
    color: white;
    padding: 8px;
}

.my-about-picture2 button {
    font-size: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 8px;
    background-color: #007AFF;
    letter-spacing: 3px;
}

.description-detils-div a {
    margin-top: 20px;
}

.description-detils span {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}

.about-me-main-div {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.about-me-tittle {
    text-align: start;
    margin-top: 100px;
    display: flex;
    justify-content: start;
}

.about-me-tittle img {
    width: 40px;
}

.bio-detils2 {
    width: 330px;
    height: 180px;
    border-radius: 6px;
    margin-left: 10px;
    background-color: #13111c;
    color: #00ffd5;
    box-shadow: 10px 10px 20px rgba(66, 63, 255, 0.2);
    border: 1px solid rgb(93, 93, 235);
}

.bio-detils2 .bio-detils2-div div {
    margin-bottom: 8px;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}

.my-about-picture2 {
    width: 330px;
    height: 100%;
    margin-left: 10px;
    padding-top: 0px;
}

.my-about-picture2 img {
    width: 200px;
}

.my-about-picture2 img:hover {
    transform: scale(1.2);
    transition: 1s;
}

.about-img-below-btn a {
    display: none;
}


/*------------------------------------------ marketplace logo ------------------------------- */

.marketplace-logo-hori {
    color: #00ffd5;
}

.market-place-inter-div img {
    width: 50px;
}

#market-place-div .market-place-inter-div img:hover {
    transform: scale(1.5) rotate(360deg);
    transition: 1s ease-in-out;
}


/*------------------------------------------ marketplace logo hover effect start------------------------------- */

#market-place-div .market-place-inter-div .imgButton {
    position: relative;
}

.one:before {
    content: 'I am Available....!'
}

#market-place-div .market-place-inter-div .imgButton:before {
    position: absolute;
    left: -40px;
    bottom: -9px;
    font-size: 12px;
    width: 150px;
    font-family: 'Gloria Hallelujah', cursive;
    color: #00ffd5;
    background-color: #02132b;
    transition: all .4s ease-out;
    transform: translateX(50px);
    opacity: 0;
    z-index: 1;
    border-radius: 10px;
    font-weight: normal;
    border: 1px solid #40008a;
    -webkit-box-shadow: 8px 7px 5px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 8px 7px 5px 0px rgba(0, 0, 0, .5);
    box-shadow: 8px 7px 5px 0px rgba(0, 0, 0, .5);
}

#market-place-div .market-place-inter-div .imgButton:hover:before {
    bottom: 45px;
    opacity: 100;
}


/*------------------------------------------ marketplace logo hover effect end------------------------------- */

.about-me-tittle h2 {
    font-size: 20px;
    margin-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #00ffd5;
}

.align-items-start span {
    font-size: 18px;
    font-weight: 700;
}

.about-me-section {
    background-color: #000515;
    margin-top: 0px;
}

.about-me-description {
    width: 850px;
}

.div-for-hover {
    border-radius: 8px;
    border: 1px solid black;
    background-color: #051d40;
    color: #00ffd5;
    margin: 10px;
}

.div-for-hover div {
    padding: 0px;
}

#hgfdag {
    display: flex;
}

#service-second-col {
    background-color: #fffbe2;
}

#service-second-col2 {
    background-color: #5ce1e6;
}

.my-service-first-div {
    background-color: white;
    border-radius: 7px;
    border: 5px solid orange;
}

.service-first-div img {
    width: 50px;
}

.div-for-hover img {
    width: 50px;
}

.div-for-hover h4 {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.div-for-hover p {
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
}


/*----------------------------------------------------------- Service div hover effect  */

.div-for-hover {
    transition: 1s ease;
}

.div-for-hover:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(0.9);
    transition: 0.5s ease;
}


/* =================================about section animantion======= */

.div-for-hover {
    --border-size: 3px;
    --border-angle: 0turn;
    /* width: 60vmin;
        height: 50vmin; */
    background-image: conic-gradient(from var(--border-angle), #213, #112 50%, #213), conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
    background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)), cover;
    background-position: center center;
    background-repeat: no-repeat;
    animation: bg-spin 3s linear infinite;

    @keyframes bg-spin {
        to {
            --border-angle: 1turn;
        }
    }

    &:hover {
        animation-play-state: paused;
    }
}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}


/*-------------------------------------About Section Start --------------------------------*/


/*-------------------------------------About Section Start --------------------------------*/


/*-------------------------------------About Section Start --------------------------------*/

.arrow-button {
    margin-bottom: 80px;
    font-size: 25px;
    font-weight: 700;
    margin-right: 26px;
}

.chat-icon-div {
    margin-bottom: 20px;
    margin-left: 20px;
}

.chat-icon-div-img {
    height: 50px;
    border-radius: 50%;
    margin-top: 100px;
    margin-right: 10px;
}

.section-2 {
    background-color: white;
    margin-top: 30px;
    border-radius: 7px;
    font-family: 'Times New Roman', Times, serif;
}

.section-2 h2 {
    text-align: center;
    font-weight: 700;
    margin-top: 30px;
}

.about-h1 {
    padding-top: 25px;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
}

.section-2-row {
    margin-top: 70px;
}

.col-lg-6 img {
    width: 350px;
    text-align: center;
    margin-left: 80px;
    margin-top: 60px;
    border-radius: 10px;
}

.btn {
    margin-left: 170px;
}

.about-detils h1 {
    margin-top: 50px;
    margin-left: 0px;
}

.about-detils h3 {
    margin-left: 0px;
    font-size: 20px;
    margin-bottom: 15px;
}

.about-detils p {
    margin-top: 20px;
    font-size: 17px;
}

.about-detils {
    padding: 30px;
}

.div3 {
    display: flex;
    font-weight: 600;
}

.div311 {
    margin-top: 30px;
    width: 330px;
}


/* --------------------------------About Section End --------------------------------*/


/* --------------------------------Project  Section start --------------------------------*/


/* */


/* ------------------------------AHMSC media use --------------------------*/

.service-main-img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(0.9);
    transition: 1s ease;
}

.project-hori {
    border: 1px solid blue;
}

.porject-section {
    background-color: #000000;
}

.project-headline-div23 img {
    width: 80px;
}

.project-headline-div24 img {
    width: 150px;
}

#project-headline-div h1 {
    color: #ff0077;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(rgba(255, 255, 255, .3), rgba(255, 255, 255, .3)), linear-gradient(7deg, #ff0071, #fff800);
    -webkit-background-clip: text;
}

#project-headline-div h4 {
    color: #00ffd5;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}

#project-headline-div span {
    color: #00ffd5;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 20px;
}

#project-headline-div p {
    color: #00ffd5;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}

#project-headline-div a span {
    color: #00ffd5;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 25px;
}

#project-headline-div a {
    text-decoration: none;
}

#porject-section22 h1 {
    color: white;
}

#porject-section22 p {
    color: rgb(180, 180, 180);
}

#porject-section22 a button {
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 130px;
    margin-right: 10px;
    background-color: #007AFF;
    color: white;
    font-weight: 700;
}

#porject-section22 a button i {
    color: white;
    font-size: 12px;
    padding-left: 3px;
}

#porject-section22 .project-icon-detils div {
    color: rgb(180, 180, 180);
}

#porject-section22 .project-icon-detils i {
    width: 45px;
    height: 45px;
    color: #6b6cf0;
    background-color: rgba(107, 108, 240, .3);
    border-radius: 100%;
    margin-right: 16px;
    padding: 14px;
}

.ahmsc-class {
    margin-top: 80px;
}

#porject-section22 a button:hover {
    background-color: #0043a1;
    transition: 0.5s;
}


/* --------------------------------Project Section End --------------------------------*/


/* --------------------------------Certification Section start --------------------------------*/


/* 3D Slideshow */

* {
    margin: 0;
    padding: 0;
}

#slideshow {
    margin: 0 auto;
    height: 300px;
    width: 100%;
    box-sizing: border-box;
}

.slideshow-title {
    font-family: 'Allerta Stencil';
    font-size: 62px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    margin-top: 25%;
    letter-spacing: 3px;
    font-weight: 300;
}

.sub-heading {
    padding-top: 50px;
    font-size: 18px;
}

.sub-heading-two {
    font-size: 15px;
}

.sub-heading-three {
    font-size: 13px;
}

.sub-heading-four {
    font-size: 11px;
}

.sub-heading-five {
    font-size: 9px;
}

.sub-heading-six {
    font-size: 7px;
}

.sub-heading-seven {
    font-size: 5px;
}

.sub-heading-eight {
    font-size: 3px;
}

.sub-heading-nine {
    font-size: 1px;
}

.entire-content {
    margin: auto;
    width: 190px;
    perspective: 1000px;
    position: relative;
    padding-top: 80px;
}

.content-carrousel {
    width: 100%;
    position: absolute;
    float: right;
    animation: rotar 60s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.content-carrousel figure {
    width: 100%;
    height: 120px;
    border: 1px solid #3b444b;
    overflow: hidden;
    position: absolute;
}

.content-carrousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px);
}

.content-carrousel figure:nth-child(2) {
    transform: rotateY(40deg) translateZ(300px);
}

.content-carrousel figure:nth-child(3) {
    transform: rotateY(80deg) translateZ(300px);
}

.content-carrousel figure:nth-child(4) {
    transform: rotateY(120deg) translateZ(300px);
}

.content-carrousel figure:nth-child(5) {
    transform: rotateY(160deg) translateZ(300px);
}

.content-carrousel figure:nth-child(6) {
    transform: rotateY(200deg) translateZ(300px);
}

.content-carrousel figure:nth-child(7) {
    transform: rotateY(240deg) translateZ(300px);
}

.content-carrousel figure:nth-child(8) {
    transform: rotateY(280deg) translateZ(300px);
}

.content-carrousel figure:nth-child(9) {
    transform: rotateY(320deg) translateZ(300px);
}

.content-carrousel figure:nth-child(10) {
    transform: rotateY(360deg) translateZ(300px);
}

.shadow {
    position: absolute;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 1px;
}

.content-carrousel img {
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height: 100%;
}

.content-carrousel img:hover {
    transform: scale(1.2);
    transition: all 300ms;
}

@keyframes rotar {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}


/* ++++++++++++++++++++++


 

+++++++++++++++++++++++ */

.certification-main {
    padding-bottom: 90px;
}

.certi-div {
    height: 80px;
    background-color: #051d40;
    background-color: #050d18;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.certi-div:hover {
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    transition: 1s;
}

.certi-div img {
    width: 120px;
}

#upgrade1 img {
    width: 200px;
}

.certi-div img {
    margin: 20px;
    padding: 10px;
}

.certi-descrip h1 {
    font-size: 20px;
    color: #00ffd5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Certification-h1 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.certificate-description {
    padding-left: 50px;
    display: flex;
}

.certificate-description h3 {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color: white;
}

.certificate-description p {
    font-size: 13px;
    color: #12B2A7;
}

.certificate-description div {
    border-left: 1px solid blue;
    padding-left: 10px;
}

.certification-main {
    background-color: #13111c;
}


/* --------------------------------certification Section End --------------------------------*/


/* --------------------------------Skill section start -------------------------------- */

.skills-section-main .main-logo-skills span {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #00ffd5;
}

.skills-section-main .main-logo-skills {
    padding-top: 10px;
}

.main-logo-skills img {
    width: 50px;
}

.skills-section-main {
    /* background-color: #050d18; */
    background-color: #1b1a25;
    height: 140vh;
}

.skills-section-main hr {
    background-color: green;
    height: 3px;
    margin: 0px;
}

.skills-logo-div {
    display: flex;
    flex-wrap: wrap;
}

.skills-logo-div div {
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-right: auto;
    padding-top: 50px;
}

.skills-logo-div div img {
    width: 330px;
    padding: 0px;
}

.skills-logo-div div:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(0.9);
    transition: 0.5s ease;
}


/*------------------------------------ Skillbar animation?----------- */


/*** IN PROGRESS ***/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

:root {
    --c1: #2187e7;
    --b2: #222;
    --b3: #333;
    --w1: #fff;
    --w2: #eee;
    --t1: all 0.5s ease 0s;
}

.content .profile-skills ul .front-end1 {
    font-size: 20px;
    font-weight: 700;
    color: #00ffd5;
    display: none;
}

.content .profile-skills .back-end2 {
    font-size: 20px;
    font-weight: 700;
    color: #00ffd5;
    display: none;
}

.content .profile-skills .tools2 {
    font-size: 20px;
    font-weight: 700;
    color: #00ffd5;
    display: none;
}

.content {
    width: 80vw;
    height: 80vh;
    background: #fff0;
}

.profile-skills {
    display: flex;
    top: 30px;
    position: relative;
    width: 100%;
    align-items: flex-start;
}

.profile-skills>div {
    width: 32%;
    margin-right: 3%;
    border-radius: 2px;
    position: relative;
}

ul.skills {
    width: 100%;
    position: relative;
    padding: 25px 35px;
    background-color: #181622;
    box-shadow: rgba(66, 148, 110, 0.15) 0px 4px 24px;
    border: 1px solid rgba(1, 184, 98, 0.15);
    border-radius: 5px;
}

ul.skills:hover:before,
label:hover+ul.skills:before,
input:checked+label+ul.skills:before {
    transition: var(--t1);
    background-color: #2187e7;
    background-position: 0 50%;
}

ul.skills:hover:after,
label:hover+ul.skills:after,
input:checked+label+ul.skills:after {
    top: -20px;
    transition: var(--t1);
    border-top-color: #2187e7;
}

ul.skills2:hover:before,
label:hover+ul.skills2:before,
input:checked+label+ul.skills2:before {
    background-color: #9acd32;
}

ul.skills2:hover:after,
label:hover+ul.skills2:after,
input:checked+label+ul.skills2:after {
    border-top-color: #9acd32;
}

ul.skills3:hover:before,
label:hover+ul.skills3:before,
input:checked+label+ul.skills3:before {
    background-color: #ff4500;
}

ul.skills3:hover:after,
label:hover+ul.skills3:after,
input:checked+label+ul.skills3:after {
    border-top-color: #ff4500;
}

ul.skills li {
    --per: 50;
    --dur: calc(calc(var(--per) / 100) * 1.5s);
    margin: 0 0 5px 0;
    list-style: none;
    padding: 20px 0;
    position: relative;
    text-transform: uppercase;
    font-size: 15px;
    color: var(--w2);
}

ul.skills li:before {
    content: "";
    position: absolute;
    background: #1c1c1c;
    height: 16px;
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 2px;
    border: 1px solid #111;
    border-color: #111 #323232 #323232 #111;
    --track: #2292dd40;
    background: linear-gradient(90deg, var(--track) calc(calc(var(--per) * 1%) + 4px), #1c1c1c calc(calc(var(--per) * 1%) + 4px));
}

ul.skills2 li:before {
    --track: #9acd3240;
}

ul.skills3 li:before {
    --track: #ff450040;
}

ul.skills li:after {
    content: "";
    height: 11px;
    margin: 0 0 2px 0;
    background: #2187e7;
    position: absolute;
    box-shadow: 0px 0px 10px 1px #00c6ff66;
    left: 3px;
    width: 0%;
    bottom: 0;
    transition: all var(--dur) ease 0s;
    animation: start 1s ease 0s 2 alternate;
}

ul.skills2 li:after {
    background: #9acd32;
    box-shadow: 0px 0px 10px 1px #9acd3299;
}

ul.skills3 li:after {
    background: #ff4500;
    box-shadow: 0px 0px 10px 1px #ff450099;
}

ul.skills li:hover {
    filter: brightness(1.5);
    transition: var(--t1);
}

ul.skills:hover li:after,
label:hover+ul.skills li:after,
input:checked+label+ul.skills li:after {
    width: calc(calc(var(--per) * 1%) - 2px);
}

@keyframes start {
    100% {
        width: calc(calc(var(--per) * 1%) - 2px);
    }
}

ul.skills2 li:after {
    animation-delay: 0.5s;
}

ul.skills3 li:after {
    animation-delay: 1s;
}

ul.skills li span {
    font-weight: 500;
}

ul.skills li span:before {
    position: absolute;
    right: -25px;
    top: 43px;
    transition: var(--t1);
    content: "";
    opacity: 1;
    border: 7px solid #fff0;
}

ul.skills li:hover span:before,
.profile-skills input:checked+label+ul.skills li span:before {
    transition: var(--t1);
    right: calc(calc(calc(100 - var(--per)) * 1%) - 12px);
    opacity: 1;
    border-right-color: #2187e7;
}

ul.skills2 li:hover span:before,
.profile-skills input:checked+label+ul.skills2 li span:before {
    border-right-color: #9acd32;
}

ul.skills3 li:hover span:before,
.profile-skills input:checked+label+ul.skills3 li span:before {
    border-right-color: #ff4500;
}

ul.skills li span:after {
    position: absolute;
    right: -40px;
    top: 38px;
    transition: var(--t1);
    counter-reset: percent var(--per);
    /*content: counter(percent) "%";*/
    content: counter(percent);
    color: var(--b2);
    opacity: 1 !important;
    padding: 4px 6px;
    border-radius: 1px;
    font-weight: bold;
    pointer-events: none;
}

ul.skills li:hover span:after,
.profile-skills input:checked+label+ul.skills li span:after {
    transition: var(--t1);
    right: calc(calc(85 - var(--per)) * 1%);
    right: calc(calc(calc(100 - var(--per)) * 1%) - 40px);
    opacity: 1;
    background: var(--c1);
}

ul.skills2 li:hover span:after {
    background: #9acd32;
}

ul.skills3 li:hover span:after {
    background: #ff4500;
}


/*********************/


/*** SKILLS VALUES ***/


/*********************/

ul.skills li.sk-js {
    --per: 50;
}

ul.skills li.sk-py {
    --per: 75;
}

ul.skills li.sk-nodejs {
    --per: 50;
}

ul.skills li.sk-mongo {
    --per: 50;
}

ul.skills li.sk-pro {
    --per: 60;
}

ul.skills li.sk-res {
    --per: 90;
}

ul.skills li.sk-git {
    --per: 70;
}

ul.skills li.sk-linux {
    --per: 60;
}

ul.skills li.sk-sql {
    --per: 75;
}

ul.skills li.sk-rdbms {
    --per: 80;
}

ul.skills li.sk-wor {
    --per: 90;
}

ul.skills li.sk-tre {
    --per: 65;
}

ul.skills li.sk-css {
    --per: 70;
}

ul.skills li.sk-htm {
    --per: 80;
}

ul.skills li.sk-jav {
    --per: 50;
}

ul.skills li.sk-react {
    --per: 50;
}

ul.skills li.sk-sql {
    --per: 65;
}

ul.skills li.sk-pug {
    --per: 40;
}


/*********************/


/***** TOP LABELS ****/


/*********************/

.profile-skills input {
    display: none;
}

.profile-skills label {
    background: var(--w1);
    position: absolute;
    top: -61px;
    left: 22px;
    z-index: 2;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    cursor: pointer;
    transition: var(--t1);
    box-shadow: 0 0 0 0 var(--w1);
}

.profile-skills label:before {
    content: "";
    background: #fff0;
    position: absolute;
    top: 12px;
    left: 11px;
    z-index: 2;
    border: 9px solid var(--b2);
    border-top-width: 0;
    border-right-width: 0;
    transform: rotate(-45deg);
    width: 33px;
    height: 22px;
    border-radius: 2px;
    transition: var(--t1);
}

.profile-skills label:hover {
    box-shadow: 0 0 0 3px var(--w1);
    transition: var(--t1);
}

.profile-skills label:hover:before {
    border-color: var(--b2);
    transition: var(--t1);
}

.profile-skills input:checked+label {
    box-shadow: 0 0 0 6px var(--w1);
    transition: var(--t1);
}

.profile-skills input:checked+label:before {
    border-color: #2187e7;
}

.profile-skills input#sk2:checked+label:before {
    border-color: #9acd32;
}

.profile-skills input#sk3:checked+label:before {
    border-color: #ff4500;
}

label[for="sk1"]:before {
    border-color: cornflowerblue;
}

label[for="sk2"]:before {
    border-color: yellowgreen;
}

label[for="sk3"]:before {
    border-color: orangered;
}


/*********************/


/*** BOTTOM LABELS ***/


/*********************/

ul.skills li.more {
    padding: 0;
    margin-bottom: 20px;
}

ul.skills li.more:before,
ul.skills li.more:after {
    display: none;
}

ul.skills li.more:hover {
    filter: none !important;
}

ul.skills li.more div {
    max-height: 0;
    transition: var(--t1);
    overflow: hidden;
    padding: 0;
    width: 100%;
}

ul.skills li.more input:checked~div {
    max-height: 150px;
    transition: var(--t1);
    padding: 20px 0 0;
}

ul.skills li.more div span:before,
ul.skills li.more div span:after {
    display: none;
}

ul.skills li.more label {
    background: linear-gradient(163deg, var(--b2) 50%, var(--w1) 50%);
    right: 0;
    left: inherit;
    top: inherit;
    bottom: -70px;
    color: var(--b2);
    background-size: 100% 300%;
    background-position-y: 100%;
    transition: var(--t1);
    width: 55px;
    height: 55px;
    right: -50px;
}

ul.skills li.more label:before {
    border: 0;
    height: 100%;
    width: 100%;
    transform: rotate(0deg);
    content: "+";
    content: "\271A";
    font-size: 45px;
    line-height: 55px;
    left: 0;
    top: 0;
    text-align: center;
    color: var(--c1);
}

ul.skills li.more label:hover {
    background-position-y: 0%;
    color: var(--w1) !important;
    transition: var(--t1);
    box-shadow: 0 0 0 10px var(--w1);
}

ul.skills li.more span {
    background: #1c1c1c;
    border-radius: 1px;
    margin: 10px 10px 1px 1px;
    padding: 4px 8px;
    display: inline-block;
    border: 1px solid #111;
    border-color: #111 #323232 #323232 #111;
}

ul.skills li.more span:hover {
    color: var(--w0);
    background: var(--c1);
    box-shadow: 0px 0px 5px 1px var(--c1);
    border-color: #fff2;
}

ul.skills li.more input:checked+label {
    box-shadow: 0 0 0 9px var(--w1);
    background-position-y: 0%;
    color: var(--w0);
    bottom: -70px;
}

ul.skills li.more input:checked+label:before {
    content: "\2759";
    transform: rotate(90deg);
    font-weight: 600;
}

ul.skills li.more input:checked+label:hover {
    box-shadow: 0 0 0 0 var(--w1);
    background-position-y: 100%;
    color: var(--b2) !important;
}


/*********************/


/*** MEDIA QUERIES ***/


/*********************/

@media (max-width: 780px) {
    .content .profile-skills .skills .front-end1 {
        display: block;
    }

    .content .profile-skills .skills .back-end2 {
        display: block;
    }

    .content .profile-skills .skills .tools2 {
        display: block;
    }

    .skills23 {
        width: 100%;
    }
}


/*** Mobile view disabled to get (almost) the desired thumbnail ***/


/*** Uncomment below code to add the media query for mobile view ***/


/* --------------------------------Skill section End-------------------------------- */


/* <!----------------------------Pricing Section start-----------------------------> */

.pricing-engine-back img {
    position: absolute;
    width: 400px;
    margin-top: 300px;
}

.pricing-section {
    font-family: "Source Sans Pro", sans-serif;
    background-color: #dff9fb;
}

.upwor-fiverr-free {
    width: 100%;
    height: 60Px;
    background-color: #02132b;
    color: #00ffd5;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
}

.pricing-logo span {
    color: #000000;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
}

.pricing-logo p {
    color: hsl(270, 60%, 52%);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    font-weight: 700;
}

.pricing-logo img {
    width: 50px;
}

.pricing-table-detils {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
}

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

ul.features {
    list-style-type: none;
    text-align: left;
    font-size: 15px;
    padding-left: 30px;

    li {
        margin: 8px;

        .fas {
            margin-right: 4px;
        }

        .fa-check-circle {
            color: #6ab04c;
        }

        .fa-times-circle {
            color: #97100d;
        }
    }
}

.features li .fa-times-circle {
    color: #ff0400;
}

.features {
    margin-top: 5px;
    margin-left: 30px;
}

.features li {
    font-size: 16px;
}

.pricing-table-detils .pricing1 {
    width: 20%;
    height: 400px;
    margin: 10px;
    border-radius: 7px;
    justify-content: space-between;
    background-color: white;
}

.pricing-table-detils .pricing1:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 24px;
}

.pricing-table-detils .pricing2 {
    width: 23%;
    height: 400px;
    margin: 10px;
    border-radius: 7px;
    justify-content: space-between;
    border: 3px solid #6ab04c;
    background-color: white;
}

.pricing-table-detils .pricing2:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 24px;
}

.pricing-table-detils .pricing3 {
    width: 20%;
    height: 400px;
    margin: 10px;
    border-radius: 7px;
    justify-content: space-between;
    background-color: white;
}

.pricing-table-detils .pricing3:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 24px;
}

.pricing-table-detils .pricing1-internal {
    width: 100%;
    height: 70px;
    background-color: #6ab04c;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pricing1 a .pricing-button1 {
    border: none;
    width: 47%;
    padding: 8px 20px;
    /* margin-top: 1rem; */
    background-color: #6ab04c;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.pricing2 a .pricing-button1 {
    border: none;
    width: 47%;
    padding: 8px 20px;
    margin-top: 2rem;
    background-color: #6ab04c;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.pricing3 a .pricing-button1 {
    border: none;
    width: 47%;
    padding: 8px 20px;
    margin-top: 0rem;
    background-color: #6ab04c;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.pricing2 img {
    position: absolute;
    width: 100px;
    margin-left: 50px;
    margin-bottom: 20px;
}

#standard-price {
    border-top-left-radius: 7px;
}

#advanch-price {
    border-top-right-radius: 7px;
}

.pricing-button2 {
    border: none;
    width: 47%;
    padding: 8px 20px;
    margin-top: 4rem;
    background-color: #6ab04c;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.pricing-button3 {
    border: none;
    width: 47%;
    padding: 8px 20px;
    margin-top: 0rem;
    background-color: #6ab04c;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.pricing-table-detils .pricing1-internal {
    padding: 20px;
    font-weight: 700;
    color: #00ffd5;
}

.pricing-section .pricing-table-detils .pricing1 {
    height: 330px;
    margin-top: auto;
    margin-bottom: auto;
}

.pricing-section .pricing-table-detils .pricing3 {
    height: 330px;
    margin-top: auto;
    margin-bottom: auto;
}

.pricing-description-1 {
    color: black;
    padding-top: 0px;
    font-size: 13px;
}

.pricing-description-1 i {
    color: green;
    font-weight: 700;
    padding: 7px;
}

.pricing-markte-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.market-logo-div-last img {
    width: 50px;
    margin: 10px;
}

.pricing1 .pricing-markte-div {
    text-align: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.pricing2 .pricing-markte-div {
    text-align: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 130px;
}

.pricing1 .btn222 {
    background-color: green;
    color: #00ffd5;
    font-size: 9px;
    border: none;
    padding: 5px;
    border-radius: 7px;
}

.pricing3 .pricing-markte-div {
    text-align: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.glow-one {
    width: 80px;
    height: 30px;
    border: none;
    outline: none;
    /* background: #111; */
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
    color: #5af3d9;
    font-size: 10px;
}

.glow-one:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

#my-name-div .pricing-animation-btn button {
    color: #00ffd5;
}

.glow-one:active {
    color: #ffecec;
}

.glow-one:active:after {
    background: transparent;
}

.glow-one:hover:before {
    opacity: 1;
}

.glow-one:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: #2f2da1; */
    background: #007AFF;
    left: 0;
    top: 0;
    border-radius: 6px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}


/* <!----------------------------Pricing Section end-----------------------------> */


/* <!----------------------------My mission Section start-----------------------------> */

.mission-section-div {
    background-color: #dff9fb;
    padding-top: 100px;
}

.my-mission-head {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 60px;
}

.request-for-do {
    width: 100%;
    height: 100px;
    background-color: #4DD637;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}

.request-for-do h2 {
    padding-top: 20px;
    font-weight: 700;
}

.mission-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.mission-div .mission1 {
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 5px;
    background-color: white;
}

.mission1:hover {
    box-shadow: rgba(17, 17, 17, 0.15) 0px 4px 24px;
}

.mission1 img {
    width: 150px;
}

.mission1 h2 {
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
}

.mission1 p {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}

#mission1 img {
    width: 100px;
}


/* <!----------------------------My mission Section eend-----------------------------> */


/*-------------------------Contact   section  start----------------*/

#contact {
    /* padding-top: 40px; */
    padding: 40px;
    background-color: #dff9fb;
}

.info {
    width: 50%;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}

.info iframe {
    width: "350";
    height: "350px";
}

.info svg {
    float: left;
    display: flex;
    justify-content: center;
}

#contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #050d18;
}

#contact .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #173b6c;
}

#contact .info .email p {
    padding-top: 5px;
}

#contact .info .social-links {
    padding-left: 60px;
}

#contact .info .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    margin-right: 10px;
}

.contact-form {
    display: flex;
}

.email-form {
    width: 300px;
    padding-left: 30px;
}

.email-form-div {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 20%;
    margin-top: 20%;
}

.email-form-div input {
    border: none;
    margin: 8px;
    width: 300px;
    height: 40px;
    font-size: 13px;
    border-bottom: 1px solid green;
}

.email-form-div textarea {
    border-radius: 10px;
    border: none;
    margin: 10px;
    width: 300px;
    height: 100px;
    font-size: 13px;
}

.person-div {
    background-color: white;
    width: 400px;
    margin: 20px;
    border-radius: 3rem;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
}

.person-div input:focus {
    outline: none;
}

.email-form-div textarea:focus {
    outline: none;
}

.email-form button {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 3rem;
    border: 0;
    border-radius: 3rem;
    background-image: linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
    background-size: 300% 100%;
    transition: all 0.3s ease-in-out;
    margin-left: 40%;
}


/*-------------------------Contact   section  End----------------*/


/*-------------------------Footer   section  start----------------*/

.footer-div a i {
    margin-left: 7px;
    font-size: 18px;
    color: white;
}

footer {
    height: 100px;
    background-color: #050d18;
}

footer h2 {
    color: white;
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
}

.footer-div svg {
    color: white;
    background-color: white;
    border-radius: 50%;
    border: none;
}

.footer-div {
    text-align: center;
    margin-top: px;
    font-size: 10px;
    color: white;
    padding-bottom: 5px;
}

.footer-div3 {
    margin-top: 5px;
}

.send-sms {
    background-color: white;
}

.send-sms form input {
    height: 40px;
    width: 250px;
    margin: 10px;
}

.send-sms form textarea {
    height: 100px;
    width: 530px;
    margin: 10px;
}

#input-checkbox {
    margin: 10px;
    height: 15px;
    margin-right: auto;
}

.primary-button {
    background-color: white;
    border: 1px solid rgb(174, 120, 120);
    padding: 4px;
    margin-left: 10px;
}


/*-------------------------Contact   section  end----------------*/